.header {
    padding: 20px 40px;
    width: 100%;
    height: 130px;
    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    /* align-self: center; */
    gap: 35px;
}
.menu .link-sobre, 
.menu .link-catalago {
    text-decoration: none;
    color: gray;
}

.dropdown-btn {
    background: none;
    border: none;
    color: black;
}

.search-bar input {
    border-radius: 20px;
    padding: 7px;
    font-size: 13px;
    border: 1px solid gray;
    width: 15vw;
}

.icons-and-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.register-button,
.login-button {
    background: #86D293;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 5px 20px;
}

.register-button a,
.login-button a {
    text-decoration: none;
    color: white;
}

#buscar {
    border-radius: 20px;
}
#treeSelect {
    border-radius: 20px;
}
.icon-bag {
    text-decoration: none;
    color: black;
}

#avatar {
    background: none;
}