.config-container {
  margin-top: 20px;
  padding: 20px;
}

.config-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Alinha as configurações à esquerda */
  width: 100%;
}

.config-item {
  width: 100%;
  padding: 15px;
  text-align: left;
  margin: 10px 0;
  border-bottom: 1px solid #ccc; /* Linha separadora */
  cursor: pointer;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.config-item:hover {
  background-color: #f0f0f0; 
}

.config-item p {
  margin: 0; 
  font-size: 16px;
  flex-grow: 1; 
}

.config-item .arrow {
  font-size: 18px;
  color: gray; 
  margin-left: 10px; 
}
