.btn-catalago {
    background-color: #6ab04c; /* Verde suave */
    color: #ffffff; /* Branco */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-catalago:hover {
    background-color: #57a63e; /* Verde escuro */
}
