.container-cards {
    width: 100%;
    display: row;
    height: auto;
}
.cards {
    transform: scale(1.2);
    height: 500px;
    background: #FAF6F6;
    /* background: green; */
    padding: 35px 75px;
    border-radius: 10px;
    margin: 50px 0 0 0;
}

.image-cards{
    width: 100%;
}

.button-buy-releases {
    background: #86D293;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 3px 7px;
    font-size: 12px;
    float: right;
}
.button-buy-releases a {
    text-decoration: none;
    color: white;
}

.text {
    font-size: 18px;
    margin: 2px;
    font-weight: 600;
}

.value-button{
    display: flex;
    justify-content: space-between;
}

.discover {
    font-size: 55px;
    text-align: center;
    font-weight:600;
    padding: 0 50px;
    margin: 0;
}
.discover-text{
    text-align: center;
    padding: 0 200px;
    font-size: 18px;
    margin: 0;

}